<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Databáze knih
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Databáze knih</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-input
    class="search-bar"
    label="Vyhledávání" 
    label-placement="floating" 
    fill="outline"
    placeholder="Zadejte název, autora nebo ISBN">
  </ion-input>

</ion-content>
