.search-bar {
    margin: 20px 20px;
    --highlight-color: black;
}

.book-added {
  width: 80px;
  height: 27px;
  margin-right: 0px;
  ion-card-content {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    
    ion-icon {
      margin-right: 4px;
    }
  }
}

ion-thumbnail {
    --size: 80px;
    img {
      border-radius: 8px;
    }
  }