.search-bar {
  --highlight-color: black;
  margin-top: 10px;
}

.search-bar-item {
  margin: 12px 12px;
}

.book-added {
  width: 80px;
  height: 27px;
  margin-right: 0px;
  ion-card-content {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    
    ion-icon {
      margin-right: 4px;
    }
  }
}

ion-thumbnail {
    --size: 80px;
    img {
      border-radius: 8px;
    }
  }